<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Nebeneinkuenfte Header</title>

</head>
<body>
	<div id="header" style="padding-left: 15px; padding-right: 15px; min-width:1024px;">

		<div id="upper">
			<div style="float: left; width: 256; height: 162">
				<div location="leftLogo"></div>
			</div>

			<div style="float: right; width: 256; height: 162">
				<div location="rightLogo"></div>
			</div>

			<div style="margin-left: 476px; margin-right: 190px"></div>

		</div>
		
		<div id="lower" style="clear:both; padding-top: 15px;">
			<div style="float: left; width: 200px">
				<div location="version"></div>
			</div>

			
		</div>
		
	</div>

</body>
</html>